{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row pt-lg-5">
            <div class="col-6 offset-3">
                <div class="card-wrapper">
                    <div class="brand text-center">
                        <img src="{% static 'images/favicon_96.png' %}">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h2>Hai dimenticato la password? </h2>
                            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button class="btn btn-outline-primary" type="submit">Reset Password</button>
                                <a href="{% url 'account_login' %}" class="float-right">
                                    <button class="btn btn-outline-success">
                                        Login
                                    </button>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}


