{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6 offset-3">

            <div class="card-wrapper">
                <div class="brand text-center pb-5">
                    <img class="pt-5" src="{% static 'images/favicon_96.png' %}">
                    <h1 >Biblioteca Universitaria</h1>
                </div>
                <div class="card fat">
                    <div class="card-body text-lg-center">
                        <h3>La tua password è stata reimpostata con successo!</h3>

                        <a href="{% url 'account_login' %}" class="float-right">
                            <button class="btn btn-outline-success">
                                Login
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3" id="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
