{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Reimposta password{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-6 offset-3">

            <div class="card-wrapper">
                <div class="brand text-center">
                    <img class="pt-5" src="{% static 'images/favicon_96.png' %}">
                    <h1 >Biblioteca Universitaria</h1>
                </div>
                <div class="card fat border-0">
                    <div class="card-body">
                        {% if token_fail %}
                            <h1>Link errato</h1>
                            <p>Il link per reimpostare la password è invalido. Potrebbe essere già stato utilizzato.  Se siete sicuro di non ricordare la password potete riprovare a <a href="{% url 'account_reset_password' %}">reimpostare la password</a>.</p>
                        {% else %}
                            {% if form %}
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class="btn btn-outline-success float-right" type="submit">Reimposta Password</button>
                                </form>
                            {% else %}
                                <p>La tua password è stata reimpostata con successo.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3" id="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content%}
